
/* footer attribution */
.attribution{ 
    font-size: 11px;
    text-align: center; 
    margin-top: 5rem;
}

.attribution a{ 
    color: var(--purpulish-blue); 
}

/* designing the form */




.form-personal-info label{
    font-size: 1.4rem;
    font-weight: 500;
    text-transform: capitalize;
    color: var(--Marine-blue);
    margin-bottom: .8rem;
    display: inline-block;
}

.form-personal-info input{
    height: 4rem;
    width: 100%;
    padding: 1rem;
    border: 1px solid var(--Cool-gray);
    border-radius: .5rem;
    font-weight: 600;
    letter-spacing: .35px;
    margin-bottom: 2.4rem;
}

.form-personal-info input::placeholder{
    opacity: .75;
    font-family: 'Ubuntu', sans-serif;
}

.label--error{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.error{
    font-size: 1.2rem;
    color: var(--Strawberry-red);
    font-weight: 700;
}

input.input--error{
    border:1px solid var(--Strawberry-red);
}
