
/* footer attribution */
.attribution{ 
    font-size: 11px;
    text-align: center; 
    margin-top: 5rem;
}

.attribution a{ 
    color: var(--purpulish-blue); 
}

/* form container design */

.container{
    background-color: var(--White);
    width: 80rem;
    aspect-ratio: 1.5/1;    
    grid-template-columns: 1fr 2fr;
    padding: 1rem;
    border-radius: 2rem;
    overflow: hidden;
    box-shadow: 1px 1px 25px 1px rgba(0, 0, 0, 0.15);
}

/* designing the sidebar */
.sidebar{
    background-image: url('assets/images/bg-sidebar-desktop.svg');
    background-size: cover;
    border-radius: 1rem;
    overflow: hidden;
    padding: 3rem ;
}

.list-section{
    list-style: none;
    display: flex;
    gap: 2rem;
    flex-direction: column;
    text-transform: uppercase;
}

.list-section li {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.number{
    width: 3rem;
    aspect-ratio: 1/1;
    font-size: 1.2rem;
    border: 1px solid var(--Light-gray);
    display: flex;
    font-weight: 600;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: var(--White);
}

.number-sub{
    color: var(--Pastel-blue);
    font-weight: 500;
}

.number-title{
    color: var(--Magnolia);
    font-weight: 500;
    font-size: 1.2rem;
    letter-spacing: .075rem;
}

.counter-active .number{
    color: var(--Marine-blue);
    background-color: var(--Light-blue  );
}

/* designing the form */
.form-container{
    padding: 4rem 5rem 0 8rem;
    position: relative;
}



.form-personal-info label{
    font-size: 1.4rem;
    font-weight: 500;
    text-transform: capitalize;
    color: var(--Marine-blue);
    margin-bottom: .8rem;
    display: inline-block;
}

.form-personal-info input{
    height: 4rem;
    width: 100%;
    padding: 1rem;
    border: 1px solid var(--Cool-gray);
    border-radius: .5rem;
    font-weight: 600;
    letter-spacing: .35px;
    margin-bottom: 2.4rem;
}

.form-personal-info input::placeholder{
    opacity: .75;
    font-family: 'Ubuntu', sans-serif;
}

.label--error{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.error{
    font-size: 1.2rem;
    color: var(--Strawberry-red);
    font-weight: 700;
}

input.input--error{
    border:1px solid var(--Strawberry-red);
}
