*{
    margin: 0;
    padding: 0;box-sizing: border-box;
}

:root{
    /* primary colors */
    --Marine-blue: hsl(213, 96%, 19%);
    --Purplish-blue: hsl(243, 100%, 62%);
    --Pastel-blue: hsl(228, 100%, 84%);
    --Light-blue: hsl(206, 94%, 87%);
    --Strawberry-red: hsl(354, 84%, 57%);

    /* neutral colors */
    --Cool-gray: hsl(231, 11%, 63%);
    --Light-gray: hsl(229, 24%, 87%);
    --Magnolia: hsl(217, 100%, 97%);
    --Alabaster: hsl(231, 100%, 98%);
    --White: hsl(0, 0%, 100%);
}

html{
    font-size: 62.5%;
    font-family: 'Ubuntu', sans-serif;
}

body{
    background-color: hsla(243, 100%, 62%, 0.1);
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/* utilities */
.grid{
    display: grid;
}

.grid-temp-2{
    grid-template-columns: repeat(2, 1fr);
}
.grid-temp-3{
    grid-template-columns: repeat(3, 1fr);
}
.grid-temp-4{
    grid-template-columns: repeat(4, 1fr);
}

.grid-row-3{
    grid-template-rows: repeat(3, 1fr);
}

.gap-1rem{
    gap: 1rem;
}

.gap-2rem{
    gap: 2rem;
}

/* form container design */

.container{
    background-color: var(--White);
    width: 80rem;
    aspect-ratio: 1.5/1;    
    grid-template-columns: 1fr 2fr;
    padding: 1rem;
    border-radius: 2rem;
    overflow: hidden;
    box-shadow: 1px 1px 25px 1px rgba(0, 0, 0, 0.15);
    transition: all 250ms ease-out ;
}

/* designing the sidebar */
.sidebar{
    background-image: url('assets/images/bg-sidebar-desktop.svg');
    background-size: cover;
    border-radius: 1rem;
    overflow: hidden;
    padding: 3rem ;
}



.list-section{
    list-style: none;
    display: flex;
    gap: 2rem;
    flex-direction: column;
    text-transform: uppercase;
}

.list-section li {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.number{
    width: 3rem;
    aspect-ratio: 1/1;
    font-size: 1.2rem;
    border: 1px solid var(--Light-gray);
    display: flex;
    font-weight: 600;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: var(--White);
}

.number-sub{
    color: var(--Pastel-blue);
    font-weight: 500;
}

.number-title{
    color: var(--Magnolia);
    font-weight: 500;
    font-size: 1.2rem;
    letter-spacing: .075rem;
}

.counter-active .number{
    color: var(--Marine-blue);
    background-color: var(--Light-blue  );
}


/* the main form container */
.form-container{
    padding: 4rem 5rem 0 8rem;
    position: relative;
}

/* form title */
#form-title{
    font-size: 2.8rem;
    color: var(--Marine-blue);
    margin-bottom: .8rem;
}

#form-title:nth-child(1){
    text-transform: capitalize;
}

#form-subtitle{
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--Cool-gray);
    letter-spacing: .35px;
    margin-bottom: 1.6rem;
}

#form-subtitle::first-letter{
    text-transform: capitalize;
}


/* the next step button */
button.next--step-button,
button.go--back-button{
    cursor: pointer;
    display: inline-block;
    text-align: center;
    text-transform: capitalize;
    position: absolute;
    font-size: 1.4rem;
    font-weight: 400;
    letter-spacing: .35px;
    transition: all 200ms ease-out;
}

button.next--step-button{
    color: var(--Magnolia); 
    background-color: var(--Marine-blue);
    bottom: 3rem;
    right: 5rem;
    border-radius: .5rem;
    height: 4rem;
    border: none;
    padding-inline: 2rem;
}

button.next--step-button:is(:hover, :active){
    opacity: .8;
}

button.go--back-button{
    bottom: 4rem;
    color: var(--Cool-gray);
    background-color: transparent;
    font-weight: 600;
    border: none;
    left: 8rem;
}

button.go--back-button:is(:hover, :active){
    color: var(--Marine-blue);
}

button.disable:is(:hover, :active){
    color: var(--Cool-gray);
}


/* sidebar for mobiles */
.sidebar-mobile{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 30%;
    z-index: -1;
    background-image: url('assets/images/bg-sidebar-mobile.svg');
    background-size: cover;
    display: none;
}

.list-section-mob{
    display: flex;
    list-style: none;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    padding-top: 4rem;
}

/* Media queries */
@media screen and (max-width: 845px) {
    html{
        font-size: 50%;
    }
}

@media screen and (max-width: 635px) {
    html{
        font-size: 62.5%;
    }
    .container{
        grid-template-rows: 1fr;
        grid-template-columns: 1fr;
        max-width: 50rem;
        height: 70%;
    }

    .sidebar-mobile{
        display: block;
    }

    .sidebar{
        display: none;
    }

    .form-container{
        padding: 4rem;
    }
}

@media screen and (max-width: 540px) {
    .container{
        max-width: 35rem;
        position: relative;
        top: 3rem;
    }

    .grid-temp-3{
        grid-template-columns: 1fr;
    }

    .form-container{
        padding: 2rem;
    }

    button.next--step-button{
        right: 2rem;
    }

    button.go--back-button{
        left: 2rem;
    }
}